<%- include('../header.ejs') %>

    <br><br><br>
    <br>
    <div class="container mb-5 shadow-lg mt-5 ">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-4 mt-5 py-5">
                        <div class="profile-img-container">
                            <img src="<%= i.url %>" alt="Profile Picture" class="profile-img w-100  ">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h1 class="text-success mt-4 mb-3"> Edit Student Details </h1>
                        <form action="/profileupdate" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="">Username</label>
                                <input type="text" class="form-control" name="name" value="<%= bca.name %>">
                            </div>
                            <div class="mb-3">
                                <label for="">Email</label>
                                <input type="email" class="form-control" name="email" value="<%= bca.name %>">
                            </div>
                            <div class="mb-3">
                                <label for="">Mobile No.</label>
                                <input type="number" class="form-control" name="mobile" value="">
                            </div>
                            <div class="mb-3">
                                <label for="">DOB</label>
                                <input type="date" class="form-control" name="dob" value="<%= bca.dob %>">
                            </div>
                            <div class="mb-3 ">
                                <label class="mb-2">Gender</label>
                                <br>
                                <input type="radio" name="gender" value="">&nbsp;Male

                                <input type="radio" name="gender" value="">&nbsp;Female
                                <br>
                            </div>
                            <div class="mb-3">
                                <label>Address:</label>
                                <textarea class="form-control" name="address" value="<%= bca.address %>"></textarea>
                            </div>


                            <button type="submit" class="btn btn-success mt-4 mb-3">Update Details</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

    </div>
    </div>